<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartItem">
    <select id="selectAll" resultType="cartItem">
        SELECT * FROM cart_item
    </select>
    <select id="selectListById" parameterType="long" resultType="cartItem">
        SELECT * FROM cart_item WHERE consumer_id=#{_parameter}
    </select>
    <insert id="insert" parameterType="cartItem">
        INSERT INTO cart_item VALUES(#{itemId}, #{itemQuantity}, #{cartId}, #{consumerId})
    </insert>
</mapper>