<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="consumer">
    <select id="selectAll" resultType="consumer">
        SELECT * FROM consumer
    </select>
    <select id="select" parameterType="String" resultType="consumer">
        SELECT * FROM consumer WHERE user_email=#{obj}
    </select>
    <insert id="insert" parameterType="consumer" useGeneratedKeys="true" keyProperty="consumerId">
        INSERT INTO consumer(user_email, password, phone_number, address, user_name, is_admin) VALUES (#{userEmail}, #{password}, #{phoneNumber}, #{address}, #{userName}, #{isAdmin})
    </insert>
    <update id="updatePassword" parameterType="updatePasswordRequest">
        UPDATE consumer SET password=#{updatePassword} WHERE user_email=#{userEamil}
    </update>
    <update id="updateAddress" parameterType="updateUserRequest">
        UPDATE consumer SET address=#{updateData} WHERE user_email=#{userEamil}
    </update>
    <update id="updatePhoneNumber" parameterType="updateUserRequest">
        UPDATE consumer SET phone_number=#{updateData} WHERE user_email=#{userEamil}
    </update>

</mapper>