<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="mysql.properties" />
	<typeAliases>
		<typeAlias type="com.bit.shoppingmall.domain.Cargo" alias="cargo"/>
		<typeAlias type="com.bit.shoppingmall.domain.Category" alias="category"/>
		<typeAlias type="com.bit.shoppingmall.domain.Status" alias="status"/>
		<typeAlias type="com.bit.shoppingmall.domain.Consumer" alias="consumer"/>
		<typeAlias type="com.bit.shoppingmall.domain.Membership" alias="membership"/>
		<typeAlias type="com.bit.shoppingmall.domain.OrderDetail" alias="orderDetail"/>
		<typeAlias type="com.bit.shoppingmall.domain.OrderSet" alias="orderSet"/>
		<typeAlias type="com.bit.shoppingmall.dto.OrderDetailDto" alias="orderDetailDto"/>
		<typeAlias type="com.bit.shoppingmall.dto.OrderAddressInfoDto" alias="OrderAddressInfoDto"/>
		<typeAlias type="com.bit.shoppingmall.dto.OrderSetDto" alias="orderSetDto"/>
		<typeAlias type="com.bit.shoppingmall.dto.UpdatePasswordRequest" alias="updatePasswordRequest"/>
		<typeAlias type="com.bit.shoppingmall.dto.UpdateUserRequest" alias="updateUserRequest"/>
		<typeAlias type="com.bit.shoppingmall.domain.CartItem" alias="cartItem" />
		<typeAlias type="com.bit.shoppingmall.domain.Item" alias="item"/>
		<typeAlias type="com.bit.shoppingmall.dto.categoryBestResponse" alias="categoryBestResponse" />
		<typeAlias type="com.bit.shoppingmall.dto.categoryRecentResponse" alias="categoryRecentResponse" />

	</typeAliases>
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="AdminMapper.xml"/>
		<mapper resource="CategoryMapper.xml"/>
		<mapper resource="StatusMapper.xml"/>
		<mapper resource="ConsumerMapper.xml"/>
		<mapper resource="OrderMapper.xml"/>
		<mapper resource="OrderDetailMapper.xml"/>
		<mapper resource="OrderSetMapper.xml"/>
		<mapper resource="MembershipMapper.xml"/>
		<mapper resource="CartItemMapper.xml"/>
		<mapper resource="ItemMapper.xml"/>
	</mappers>
</configuration>