<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="mysql.properties" />
	<typeAliases>
		<typeAlias type="com.bit.shoppingmall.domain.Cargo" alias="cargo"/>
		<typeAlias type="com.bit.shoppingmall.domain.Category" alias="category"/>
		<typeAlias type="com.bit.shoppingmall.domain.Status" alias="status"/>
	</typeAliases>
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="AdminMapper.xml"/>
		<mapper resource="CategoryMapper.xml"/>
		<mapper resource="StatusMapper.xml"/>
	</mappers>
</configuration>